html {
    height: 100%;
}


body {
    background: url('/media/logo.png') no-repeat center center fixed;
    color: #555;
    font-family: 'Gentium Book Plus';
}

#topnav {
    background: url('/media/homepage_background_cropped.png') no-repeat center center fixed;
    background-size: cover;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-font {
    color: rgb(117, 121, 121);
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(58, 56, 55);
    color: white;
    min-width: 260px;
}

.btn-black {
    background: rgb(58, 56, 55);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: rgb(58, 56, 55);
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: rgb(58, 56, 55) !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.background {
    background: url('/media/logo.png'); 
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}