<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="adults-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BookShelf for Adults
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="adults-link">
                <a href="" class="dropdown-item">Romance</a>
                <a href="" class="dropdown-item">Biography and Autobiography</a>
                <a href="" class="dropdown-item">SF</a>
                <a href="" class="dropdown-item">All Adults Books on the Shelf</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="children-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BookShelf for Children
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="children-link">
                <a href="" class="dropdown-item">School</a>
                <a href="" class="dropdown-item">SF</a>
                <a href="" class="dropdown-item">Comic books</a>
                <a href="" class="dropdown-item">All Children Books on the Shelf</a>
            </div>
        </li>
    </ul>
</div>